.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221);
    
    margin: 5px;
    /* this is a light blue */
}

.button-xlarge {
    font-size: 125%;
}

aside {
    background-color: green;
    padding:5px;
    margin:5px;    
}
article {
    background-color: green;    
    
    margin:5px;
}

#city-data {
    padding:5px;
}

#five-day {
    padding:5px;

}

#five-day ul {
    background-color: blue;
    margin: 5px;
}