.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-secondary {
    background: rgb(66, 184, 221);
    margin: 5px;
}

.button-xlarge {
    width: 90%;
}

/* End of Pure CSS */
body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pure-g {
    margin-top: 0px;
}

.dashboard-header {
    background-color: black;
    color: white;
    padding-left: 5%;
    height: 50px;
    padding-top: 10px;
    opacity: 80%;
    position: relative;
}

.clear-history{
    position: absolute;
    right: 10px;
    top: 10px;
}

main {
    margin-top: 1%;
}

aside {    
    padding: 15px;
    opacity: 80%;    
    background-color: #0f1ebc;
    text-align: center; 
    border-radius: 25px;     
}

#city-name {    
    height: 50px;
}

#new-city-button {
    width: 90%;
    margin-bottom: 20px;
    margin-top: 10px;
}

#search-error {
    font-weight: bolder;
    font-size: 24px;
    color: #fccf00;
}

#query-city-name {
    font-weight: bolder;
    font-size: 24px;
    color: #ffffff;
}

#city-name {
    width: 90%;
    font-size: 80%;
}

article {
    background-color: #0f1ebc;    
    border-radius: 15px;
    color: #ffffff;
    opacity: 80%;
    position: relative;
}

#main-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 213px;
    opacity: 75%;
}
.pure-menu-heading {
    width: 90%;
}
.weather-header {    
    font-weight: bolder;
    font-size: 24px;
    color: #ffffff;
}

#city-data {
    padding: 25px;
}

#five-day {
    padding: 15px;
}

#five-day ul {
    background-color: #0a145a;
    padding: 15px;
    margin: 5px;
    border-radius: 25px;
    text-align: center;  
    border-style: outset;
    border-width: 2px;
    border-color: black;
    font-style: italic;
    opacity: 100%;
}

.uv-index {
    font-weight: bold;
}

section {
    margin-left: 5px;
}

/*specific responsive css*/
@media only screen and (max-width: 440px) {
    .clear-history{
        top: 40px;
    }
    .dashboard-header {
        height: 80px;
        text-align: center;
    }
    section {
        margin-left: 0px;
    }
  }